body {
    overflow-x: hidden;
}
.title {
    color: #452f31;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 40px;
}
.sub-title {
    color: #452f31;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
#home {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.home-container {
    text-align: center;
}
.home-description {
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 10px 15px;
    text-align: center;
    border-radius: 15px;
    max-width: 700px;
    font-weight: 300;
    font-size: 11px;
    margin: 20px auto;
    line-height: 29px;
    letter-spacing: 1px;
}
.home-title {
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-top: 40vh;
}

#about > div {
    text-align: center;
}
.facilities-container,
.about-container {
    padding: 0 60px;
}
.facilities-description,
.about-description {
    color: #452f31;
    text-align: justify;
    line-height: 30px;
}
.about-description span {
    font-weight: bold;
}
.facilities-content,
.about-content {
    text-align: left;
}
.facilities-content h5,
.about-content h5 {
    margin: 0;
    line-height: 36px;
}
.about-image {
    height: 33px;
    display: block;
    margin: 23px 0;
}
.facilities-gallery {
    margin-top: 40px;
}
.facilities-gallery-image-a {
    padding: 0px;
    overflow: hidden;
    height: 200px;
}
.facilities-gallery-image {
    transition: 0.75s;
    width: 100%;
    margin: 0px;
}
.location-gallery-image-a {
    padding: 0px;
    overflow: hidden;
    width: 100%
}
.location-gallery-image {
    width: 100%;
    margin: 0px;
}
.facilities-gallery-image:hover {
    width: 120%;
    margin-left: -5%;
    margin-top: -5%;
}
.specification.sub-title {
    text-align: left;
}
.btn-start {
    padding: 12px;
    color: #452f31;
    font-size: 12px;
    font-weight: bold;
    background: white;
    border-radius: 35px;
    text-decoration: none !important;
    margin: 10px 0;
    display: inline-block;
}
.navbar-brand {
    padding: 0px;
}
.nav-logo {
    height: 100%;
}
.navbar {
    background-color: white;
}
.navbar-nav li{
    transition: 0.5s; 
    border-bottom: 3px solid #fff;
}
.navbar-nav li.active {
    border-bottom: 3px solid #452f31;
}
.navbar-nav a{
    color: #452f31 !important;
    font-weight: bold;
    background-color: white !important;
}
.modal-body {
    padding: 0px;
}
.page {
    min-height: 100vh;
}